/* text spacing */
h1 {
    letter-spacing: 3px;
  }
  
  h2 {
    letter-spacing: -3px;
  }

  p {
    text-indent: 50px;
  }

  p.small {
    line-height: 0.7;
  }
  
  p.big {
    line-height: 1.8;
  }

  h1 {
    word-spacing: 10px;
  }
  
  h2 {
    word-spacing: -5px;
  }